[package]
name = "tempo"
description = "Tempo node implementation"
default-run = "tempo"

version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
tempo-eyre.workspace = true
tempo-node = { workspace = true, features = ["default"] }
tempo-commonware-node.workspace = true
tempo-commonware-node-config.workspace = true
tempo-chainspec = { workspace = true, features = ["default"] }
tempo-consensus.workspace = true
tempo-evm.workspace = true
tempo-faucet.workspace = true

commonware-cryptography.workspace = true
commonware-runtime = { workspace = true, features = ["external"] }
futures = { workspace = true, features = ["executor"] }
rand.workspace = true
reth-cli-commands.workspace = true
reth-cli-util.workspace = true
reth-ethereum = { workspace = true, features = ["full", "cli"] }
reth-ethereum-cli.workspace = true
reth-node-builder.workspace = true
clap.workspace = true
eyre.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tracing.workspace = true
pyroscope = { workspace = true, optional = true }
pyroscope_pprofrs = { workspace = true, optional = true }

[[bin]]
name = "tempo"
path = "src/main.rs"

[features]
default = ["asm-keccak", "jemalloc"]

asm-keccak = [
	"tempo-node/asm-keccak",
	"reth-ethereum-cli/asm-keccak"
]

otlp = [
	"reth-ethereum-cli/otlp",
	"reth-ethereum/otlp",
	"tempo-node/otlp"
]

pyroscope = ["dep:pyroscope", "dep:pyroscope_pprofrs"]
js-tracer = [
	"reth-node-builder/js-tracer",
	"reth-ethereum/js-tracer",
	"tempo-node/js-tracer"
]

jemalloc = [
	"reth-cli-util/jemalloc",
	"reth-ethereum-cli/jemalloc",
	"reth-ethereum/jemalloc",
	"tempo-node/jemalloc"
]
jemalloc-prof = [
	"reth-cli-util/jemalloc",
	"reth-cli-util/jemalloc-prof",
	"reth-ethereum-cli/jemalloc-prof",
	"tempo-node/jemalloc-prof"
]

min-error-logs = [
	"tracing/release_max_level_error",
	"reth-ethereum-cli/min-error-logs",
	"tempo-node/min-error-logs"
]
min-warn-logs = [
	"tracing/release_max_level_warn",
	"reth-ethereum-cli/min-warn-logs",
	"tempo-node/min-warn-logs"
]
min-info-logs = [
	"tracing/release_max_level_info",
	"reth-ethereum-cli/min-info-logs",
	"tempo-node/min-info-logs"
]
min-debug-logs = [
	"tracing/release_max_level_debug",
	"reth-ethereum-cli/min-debug-logs",
	"tempo-node/min-debug-logs"
]
min-trace-logs = [
	"reth-ethereum-cli/min-trace-logs",
	"tempo-node/min-trace-logs"
]
