[package]
name = "tempo"
description = "Tempo node implementation"
default-run = "tempo"

version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
tempo-eyre.workspace = true
tempo-node.workspace = true
tempo-commonware-node.workspace = true
tempo-commonware-node-config.workspace = true
tempo-chainspec.workspace = true
tempo-consensus.workspace = true
tempo-evm.workspace = true
tempo-faucet.workspace = true

camino = { workspace = true, features = ["serde1"] }
commonware-runtime = { workspace = true, features = ["external"] }
futures = { workspace = true, features = ["executor"] }
reth-cli-util.workspace = true
reth-ethereum = { workspace = true, features = ["full", "cli"] }
reth-node-builder.workspace = true
clap.workspace = true
eyre.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tracing.workspace = true

[[bin]]
name = "tempo"
path = "src/main.rs"

[features]
default = []
asm-keccak = ["tempo-node/asm-keccak"]
