[submodule "tips/verify/lib/forge-std"]
	path = tips/verify/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tips/verify/lib/tempo-std"]
	path = tips/verify/lib/tempo-std
	url = https://github.com/tempoxyz/tempo-std
[submodule "tips/verify/lib/solady"]
	path = tips/verify/lib/solady
	url = https://github.com/vectorized/solady
