[submodule "docs/specs/lib/tempo-std"]
	path = docs/specs/lib/tempo-std
	url = https://github.com/tempoxyz/tempo-std
	branch = master
[submodule "contracts/bridge/lib/forge-std"]
	path = contracts/bridge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = master
