target

scripts/logs
scripts/data

.DS_Store
.idea
**/.env
**/.envrc
localnet/**

.claude/

# Docs
docs/dist
docs/node_modules
docs/.vocs-cache/
docs/specs/cache/
docs/specs/out/
docs/specs/soljson-latest.js
docs/.vercel
docs/_
docs/tmp
docs/.sonda
