[build.env]
passthrough = [
    "SCCACHE_ERROR_LOG",
    "SCCACHE_LOG",
    "SCCACHE_AZURE_CONNECTION_STRING",
    "SCCACHE_AZURE_BLOB_CONTAINER",
    "SCCACHE_WEBDAV_ENDPOINT",
    "SCCACHE_WEBDAV_TOKEN",
    "SCCACHE_WEBDAV_USERNAME",
    "SCCACHE_WEBDAV_PASSWORD",
    "SCCACHE_DIR",
]

[target.x86_64-unknown-linux-gnu]
dockerfile = "contrib/cross/Dockerfile.x86_64-unknown-linux-gnu-sccache"
