[package]
name = "tempo-contracts"
description = "TODO:"

version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
alloy = { workspace = true, features = ["contract", "sol-types", "rpc"] }
