[package]
name = "tempo-primitives"

version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
# Reth
reth-db-api = { workspace = true, optional = true }
reth-ethereum-primitives = { workspace = true, optional = true }
reth-primitives-traits = { workspace = true, optional = true }
reth-codecs = { workspace = true, optional = true }
reth-rpc-convert = { workspace = true, optional = true }

# Alloy
alloy-consensus = { workspace = true, features = ["secp256k1"] }
alloy-eips.workspace = true
alloy-primitives.workspace = true
alloy-rlp.workspace = true
alloy-serde = { workspace = true, optional = true }
alloy-rpc-types-eth = { workspace = true, optional = true }
alloy-network = { workspace = true, optional = true }

# Utils
arbitrary = { workspace = true, features = ["derive"], optional = true }
derive_more.workspace = true
serde = { workspace = true, features = ["derive"], optional = true }
modular-bitfield = { version = "0.11.2", optional = true }

# Cryptography for P256 and WebAuthn signature verification
p256 = { workspace = true, features = ["ecdsa"] }
sha2.workspace = true
base64.workspace = true

[dev-dependencies]
arbitrary.workspace = true
reth-codecs.workspace = true
reth-codecs-derive.workspace = true
test-fuzz.workspace = true
proptest.workspace = true
proptest-arbitrary-interop.workspace = true
alloy-consensus = { workspace = true, features = ["arbitrary"] }
rand = "0.9"
serde_json.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[features]
default = ["reth", "serde", "reth-codec", "serde-bincode-compat", "rpc"]
reth = [
	"dep:reth-ethereum-primitives",
	"dep:reth-primitives-traits",
]
serde = [
	"dep:serde",
	"dep:alloy-serde",
	"alloy-consensus/serde",
	"reth-primitives-traits?/serde",
	"reth-ethereum-primitives?/serde",
	"alloy-eips/serde",
	"alloy-primitives/serde",
	"reth-codecs?/serde",
	"rand/serde",
	"p256/serde",
	"tracing-subscriber/serde"
]
reth-codec = [
	"reth",
	"serde",
	"dep:reth-codecs",
	"dep:reth-db-api",
	"dep:modular-bitfield",
	"reth-ethereum-primitives/reth-codec",
	"reth-codecs/alloy",
	"reth-primitives-traits/reth-codec",
]
serde-bincode-compat = [
	"serde",
	"alloy-consensus/serde-bincode-compat",
	"reth-primitives-traits?/serde-bincode-compat",
	"reth-ethereum-primitives?/serde-bincode-compat",
	"alloy-eips/serde-bincode-compat",
	"alloy-rpc-types-eth?/serde-bincode-compat",
]
arbitrary = [
	"dep:arbitrary",
	"serde",
	"alloy-consensus/arbitrary",
	"alloy-primitives/arbitrary",
	"alloy-eips/arbitrary",
	"reth-codecs?/arbitrary",
	"alloy-serde?/arbitrary",
	"reth-ethereum-primitives?/arbitrary",
	"reth-primitives-traits?/arbitrary",
	"alloy-rpc-types-eth?/arbitrary",
	"reth-db-api?/arbitrary",
]
rpc = [
	"reth",
	"reth-ethereum-primitives/rpc",
	"dep:alloy-rpc-types-eth",
	"dep:reth-rpc-convert",
	"dep:alloy-network",
]
