- name: Download tempo monitor binary ZIP
  get_url:
    url: "{{ tempo_monitor_download_url }}"
    dest: /tmp/tempo_monitor.zip
    mode: '0755'
    headers:
      Accept: "application/vnd.github+json"
      X-GitHub-Api-Version: "2022-11-28"
      Authorization: "Bearer {{ tempo_github_token }}"
    unredirected_headers:
    - Authorization

- name: Unarchive tempo binary
  unarchive:
    src: /tmp/tempo_monitor.zip
    dest: /usr/local/bin
    remote_src: yes
  become: yes

- name: Delete tempo binary Zip
  file:
    path: /tmp/tempo_monitor.zip
    state: absent

- name: Install tempo systemd service
  template:
    src: tempo-monitor.service.j2
    dest: /etc/systemd/system/tempo-monitor.service
    mode: '0644'
  become: yes
  notify: reload systemd

- name: Enable and start tempo monitor service
  systemd:
    name: tempo-monitor
    state: restarted
    enabled: yes
    daemon_reload: yes
  become: yes