[profile.default]

[[profile.default.overrides]]
filter = "test(sync::can_restart_after_joining_from_snapshot)"
slow-timeout = { period = "60s", terminate-after = 4, on-timeout = "pass" }
success-output = "final"
