[package]
name = "tempo-commonware"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
tempo-eyre.workspace = true
tempo-node.workspace = true
tempo-commonware-node.workspace = true
tempo-commonware-node-config.workspace = true
tempo-chainspec.workspace = true
tempo-consensus.workspace = true
tempo-faucet.workspace = true

camino = { workspace = true, features = ["serde1"] }
commonware-runtime.workspace = true
futures = { workspace = true, features = ["executor"] }
reth-cli-util.workspace = true
reth-ethereum = { workspace = true, features = ["full", "cli"] }
reth-node-builder.workspace = true
clap.workspace = true
eyre.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tracing.workspace = true
tempo-evm.workspace = true
