[package]
name = "tempo-commonware"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
tempo-eyre.workspace = true
tempo-node.workspace = true
tempo-commonware-node.workspace = true
tempo-commonware-node-config.workspace = true
tempo-chainspec.workspace = true
tempo-faucet.workspace = true
commonware-runtime.workspace = true
reth-malachite.workspace = true
reth-cli-util.workspace = true
reth-ethereum = { workspace = true, features = ["full", "cli"] }
reth-node-builder.workspace = true
reth-node-ethereum.workspace = true
clap.workspace = true
eyre.workspace = true
tokio.workspace = true
tracing.workspace = true
