name: bench.yml
on:
  workflow_dispatch:

jobs:
  bench:
    name: Benchmark Tempo
    runs-on: depot-ubuntu-24.04-32
    steps:
      - uses: actions/checkout@v2
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: x86_64-unknown-linux-gnu
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: taiki-e/install-action@just
      - uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: cross
          git: https://github.com/cross-rs/cross
          tag: v0.2.5
      - run: |
          just build tempo "--profile release"
          just build tempo-bench "--profile maxperf"
      - run: |
          target/x86_64-unknown-linux-gnu/maxperf/tempo-bench generate-genesis -a 50000 --base-fee-per-gas 44 --output genesis.json
          RUST_LOG=debug target/x86_64-unknown-linux-gnu/release/tempo node \
              --http \
              --http.addr 0.0.0.0 \
              --http.port 8545 \
              --http.api all \
              --datadir ./data \
              --dev \
              --dev.block-time 1s \
              --chain genesis.json \
              --engine.disable-precompile-cache \
              --builder.gaslimit 3000000000 \
              --builder.max-tasks 8 \
              --builder.deadline 4 \
              --txpool.pending-max-count 10000000000000 \
              --txpool.basefee-max-count 10000000000000 \
              --txpool.queued-max-count 10000000000000 \
              --txpool.pending-max-size 10000 \
              --txpool.basefee-max-size 10000 \
              --txpool.queued-max-size 10000 \
              --txpool.max-new-pending-txs-notifications 10000000 \
              --txpool.max-account-slots 500000 \
              --txpool.max-pending-txns 10000000000000 \
              --txpool.max-new-txns 10000000000000 \
              --txpool.disable-transactions-backup \
              --txpool.additional-validation-tasks 8 \
              --txpool.minimal-protocol-fee 0 \
              --txpool.minimum-priority-fee 0 \
              --rpc.max-connections 429496729 \
              --rpc.max-request-size 1000000 \
              --rpc.max-response-size 1000000 \
              --engine.legacy-state-root \
              --max-tx-reqs 1000000 &

          until curl -sSf -H 'Content-Type: application/json' \
            --data '{"jsonrpc":"2.0","method":"web3_clientVersion","params":[],"id":1}' \
            http://127.0.0.1:8545 >/dev/null; do
            sleep 1
          done
          
          target/x86_64-unknown-linux-gnu/maxperf/tempo-bench run-max-tps --duration 60 --tps 25000
          killall -9 tempo
          
          echo -ne "# Logs\n\`\`\`\n" >> relevant.log
          cat ~/.cache/reth/logs/dev/reth.log | grep -E -i "Block added to canonical chain|Executed block|Regular root task finished" >> relevant.log
          echo -ne "\`\`\`" >> relevant.log
      - id: logs
        run: |
          cat relevant.log >> $GITHUB_STEP_SUMMARY
