name: Build binaries

on:
  # push:
  #   branches: [main]
  # pull_request:
  workflow_dispatch:
    inputs:
      profile:
        default: "maxperf"
        description: "Build profile"
        type: choice
        options:
          - "release"
          - "maxperf"
          - "profiling"

concurrency:
  group: build-${{ github.head_ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUSTC_WRAPPER: "sccache"

jobs:
  build:
    name: Build
    runs-on: depot-ubuntu-latest-16
    strategy:
      matrix:
        binary: [tempo, tempo-bench, tempo-sidecar]
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6 # stable
      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # v1
      - uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
      - uses: taiki-e/install-action@c802b5ed6fc0b87c8c603a600ac1d864e6dc1cbe # just
      - name: Build
        run: just build ${{ matrix.binary }} "--profile ${{ inputs.profile || 'dev' }}"
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        id: binary_upload
        with:
          if-no-files-found: "error"
          name: ${{ matrix.binary }}
          path: target/${{ inputs.profile || 'debug' }}/${{ matrix.binary }}
      - uses: cloudposse/github-action-matrix-outputs-write@ed06cf3a6bf23b8dce36d1cf0d63123885bb8375 # v1
        id: out
        with:
          matrix-step-name: ${{ github.job }}
          matrix-key: ${{ matrix.binary }}
          outputs: |-
            artifact_id: ${{ steps.binary_upload.outputs.artifact-id }}
