on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    name: Build
    runs-on: depot-ubuntu-24.04-16
    strategy:
      matrix:
        binary: [tempo, tempo-bench, tempo-commonware, tempo-sidecar]
    steps:
    - uses: actions/checkout@v2
    - uses: rui314/setup-mold@v1
    - uses: dtolnay/rust-toolchain@stable
      with:
        target: x86_64-unknown-linux-gnu
    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - uses: taiki-e/install-action@just
    - uses: taiki-e/cache-cargo-install-action@v2
      with:
        tool: cross
        git: https://github.com/cross-rs/cross
        tag: v0.2.5
    - run: |
        just build-release ${{ matrix.binary }}
    - uses: actions/upload-artifact@v4
      id: binary_upload
      with:
        if-no-files-found: 'error'
        name: ${{ matrix.binary }}-x86_64-unknown-linux-gnu
        path: target/x86_64-unknown-linux-gnu/release/${{ matrix.binary }}
    - uses: cloudposse/github-action-matrix-outputs-write@v1
      id: out
      with:
        matrix-step-name: ${{ github.job }}
        matrix-key: ${{ matrix.binary }}
        outputs: |-
          artifact_id: ${{ steps.binary_upload.outputs.artifact-id }}
  # TODO: Vercel requires that the repo is either open sourced or contributors have deployment permissions. 
  # This should be uncommented when the repo is public.
  # deploy:
  #   name: Deploy to devnet-1
  #   runs-on: depot-ubuntu-24.04-4
  #   needs: build
  #   if: github.event_name == 'push' && github.ref == 'refs/heads/main'
  #   steps:
  #   - uses: actions/checkout@v2
  #   - uses: taiki-e/install-action@just
  #   - name: Install Ansible
  #     shell: bash
  #     run: |
  #       sudo apt update
  #       sudo apt install -y ansible
  #   - name: Export vault password file
  #     working-directory: contrib/infra/ansible
  #     env:
  #       ANSIBLE_VAULT_PASSWORD: "${{secrets.ANSIBLE_VAULT_PASSWORD}}"
  #     run: |
  #       echo -e "$ANSIBLE_VAULT_PASSWORD" >> vault.key
  #   - uses: cloudposse/github-action-matrix-outputs-read@v1
  #     id: read
  #     with:
  #       matrix-step-name: tempo
  #   - name: Run playbook
  #     working-directory: contrib/infra/ansible
  #     run: |
  #       just dependencies
  #       just run-playbook-ci devnet devnet-1 "tempo_download_url='https://api.github.com/repos/tempoxyz/tempo/actions/artifacts/${{ fromJson(steps.read.outputs.result).artifact_id.tempo }}/zip' tempo_sidecar_download_url='https://api.github.com/repos/tempoxyz/tempo/actions/artifacts/${{ fromJson(steps.read.outputs.result).artifact_id.tempo_sidecar }}/zip'"
