name: Build binaries

on:
  # push:
  #   branches: [main]
  # pull_request:
  workflow_dispatch:
    inputs:
      profile:
        default: "maxperf"
        description: "Build profile"
        type: choice
        options:
          - "release"
          - "maxperf"
          - "profiling"

concurrency:
  group: build-${{ github.head_ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  RUSTC_WRAPPER: "sccache"

jobs:
  build:
    name: Build
    runs-on: depot-ubuntu-latest-16
    strategy:
      matrix:
        binary: [tempo, tempo-bench, tempo-sidecar]
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - uses: rui314/setup-mold@v1
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: taiki-e/install-action@just
      - name: Build
        run: just build ${{ matrix.binary }} "--profile ${{ inputs.profile || 'dev' }}"
      - uses: actions/upload-artifact@v4
        id: binary_upload
        with:
          if-no-files-found: "error"
          name: ${{ matrix.binary }}
          path: target/${{ inputs.profile || 'debug' }}/${{ matrix.binary }}
      - uses: cloudposse/github-action-matrix-outputs-write@v1
        id: out
        with:
          matrix-step-name: ${{ github.job }}
          matrix-key: ${{ matrix.binary }}
          outputs: |-
            artifact_id: ${{ steps.binary_upload.outputs.artifact-id }}
