name: Nightly Benchmark

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUSTC_WRAPPER: "sccache"

jobs:
  build:
    name: Build
    runs-on: depot-ubuntu-latest-16
    strategy:
      matrix:
        binary: [tempo, tempo-bench, tempo-sidecar]
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: rui314/setup-mold@v1
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: taiki-e/install-action@just
      - name: Build
        run: just build ${{ matrix.binary }} "--profile release"
      - uses: actions/upload-artifact@v4
        id: binary_upload
        with:
          if-no-files-found: "error"
          name: ${{ matrix.binary }}
          path: target/release/${{ matrix.binary }}
      - uses: cloudposse/github-action-matrix-outputs-write@v1
        id: out
        with:
          matrix-step-name: ${{ github.job }}
          matrix-key: ${{ matrix.binary }}
          outputs: |-
            artifact_id: ${{ steps.binary_upload.outputs.artifact-id }}
  bench:
    name: Bench
    needs: build
    runs-on: depot-ubuntu-latest-16
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: rui314/setup-mold@v1
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - uses: actions/checkout@v5
        with:
          repository: "tempoxyz/infrastructure"
          path: "./infrastructure"
          token: "${{ secrets.INFRASTRUCTURE_REPO_READ_TOKEN }}"
      - uses: cloudposse/github-action-matrix-outputs-read@v1
        id: out
        with:
          matrix-step-name: build
      - name: Run dev benchmark and check TPS
        env:
          TEMPO_DOWNLOAD_ID: ${{ fromJson(steps.out.outputs.result).artifact_id.tempo }}
          TEMPO_SIDECAR_DOWNLOAD_ID: ${{ fromJson(steps.out.outputs.result).artifact_id.tempo-sidecar }}
          TEMPO_BENCH_DOWNLOAD_ID: ${{ fromJson(steps.out.outputs.result).artifact_id.tempo-bench }}
          TEMPO_BENCH_NODE_SHA: ${{ github.sha }}
          TEMPO_BENCH_BUILD_PROFILE: "release"
          TEMPO_BENCH_BENCHMARK_MODE: "single-node"
        run: |
          echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > ./infrastructure/ansible/vault.key
          ./scripts/nightly-single-node-benchmark.sh
          mkdir reports/
          mv ./infrastructure/ansible/report/ ./reports/$(date +%Y-%m-%d-%H-%M-%S)
      - name: Run consensus benchmark and check TPS
        env:
          TEMPO_DOWNLOAD_ID: ${{ fromJson(steps.out.outputs.result).artifact_id.tempo }}
          TEMPO_SIDECAR_DOWNLOAD_ID: ${{ fromJson(steps.out.outputs.result).artifact_id.tempo-sidecar }}
          TEMPO_BENCH_DOWNLOAD_ID: ${{ fromJson(steps.out.outputs.result).artifact_id.tempo-bench }}
          TEMPO_BENCH_NODE_SHA: ${{ github.sha }}
          TEMPO_BENCH_BUILD_PROFILE: "release"
          TEMPO_BENCH_BENCHMARK_MODE: "three-node"
        run: |
          ./scripts/nightly-multi-node-benchmark.sh
          mv ./infrastructure/ansible/report/ ./reports/$(date +%Y-%m-%d-%H-%M-%S)
      - name: Checkout benchmarks repo
        uses: actions/checkout@v5
        with:
          repository: "tempoxyz/benchmarks"
          path: "./benchmarks"
          token: "${{ secrets.BENCHMARKS_REPO_WRITE_TOKEN }}"
      - name: Commit and push benchmark results
        run: |
          mv reports/* ./benchmarks/raw_reports/
          cd benchmarks/
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Add benchmark results from ${{ github.sha }}"
          git push
