name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:

env:
  CARGO_TERM_COLOR: always
  RUSTC_WRAPPER: "sccache"

jobs:
  test:
    name: test
    runs-on: depot-ubuntu-24.04-4
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: rui314/setup-mold@v1
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: taiki-e/install-action@nextest
        with:
          cache-on-failure: true
      - name: Run tests
        run: cargo nextest run --verbose

  msrv:
    name: MSRV
    runs-on: depot-ubuntu-24.04-4
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.88" # MSRV
      - uses: rui314/setup-mold@v1
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build with MSRV
        run: cargo build --bin tempo
        env:
          RUSTFLAGS: -D warnings

  test-success:
    name: test success
    runs-on: depot-ubuntu-24.04-4
    if: always()
    needs:
      - test
      - msrv
    timeout-minutes: 30
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
